.BOTTOM
  margin: 45px 0
  .col_1, .col_2, .col_3
    padding: 0px
  @media screen and (min-width: 800px)
    .col_1
      padding-right: 20px
      border-right: 1px solid rgba(0, 0, 0, 0.1)
    .col_2
      padding: 0 20px
      border-right: 1px solid rgba(0, 0, 0, 0.1)
    .col_3
      padding-left: 20px
  @media screen and (min-width: 1000px)
    .col_1
      padding-right: 50px
    .col_2
      padding: 0 50px
    .col_3
      padding-left: 50px

  .column
    margin-bottom: 30px
    @media screen and (min-width: 800px)
      flex-grow: 0
      flex-basis: 33.3%
    h2
      margin: 10px 0 20px
      font-size: 26px
      line-height: 1
    p
      font-size: 15px
      margin: 10px 0 20px
    button
      padding-right: 28px
      position: relative
      overflow: hidden
      z-index: 2
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 5px
        height: 5px
        background: rgba(204, 204, 204, 0.5)
        opacity: 0
        border-radius: 100%
        transform: scale(1, 1) translate(-50%)
        transform-origin: 50% 50%
        z-index: 1
      &::after
        position: absolute
        top: 9px
        right: 10px
        width: 10px
        height: 10px
        display: block
        content: ""
        background-image: url(../img/arrow.png)
        background-position: center
        background-repeat: no-repeat
        background-size: contain
    button:hover
      background-color: rgba(255, 255, 255, 1)
      transition: background-color .2s cubic-bezier(0.39, 0.58, 0.57, 1)
    button:focus:not(:active)::before
      animation: ripple 1s ease-out
    button.icon_1, button.icon_2
      padding-left: 38px
      span
        position: absolute
        top: 5px
        left: 10px
        width: 18px
        height: 18px
        display: block
        content: ""
        background-position: center
        background-repeat: no-repeat
        background-size: contain
    button.icon_2
      span
        background-image: url(../img/android.png)
    button.icon_1
      span
        background-image: url(../img/ios.png)

@keyframes ripple
  0%
    transform: scale(0, 0)
    opacity: 0.99
  20%
    transform: scale(25, 25)
    opacity: 0.99
  100%
    opacity: 0
    transform: scale(40, 40)
