/* some general table styles */

.TABLE
  margin: 30px auto 0
  background-image: url(../img/waves.png)
  background-color: #e9e9e9
  border-radius: 5px
  padding-left: 85px
  position: relative
  width: 213px
  @media screen and (min-width: 360px)
    width: 254px
  @media screen and (min-width: 500px)
    width: 382px
  @media screen and (min-width: 650px)
    width: 510px
  @media screen and (min-width: 800px)
    width: 636px
  @media screen and (min-width: 950px)
    width: 764px
  @media screen and (min-width: 1000px)
    width: auto
  &::after
    position: absolute
    content: ""
    display: none
    z-index: 10
    width: 100%
    height: 20px
    bottom: -5px
    left: 0px
    background-color: rgb(249, 249, 249)
  @media screen and (min-width: 1000px)
    padding-left: 0px
    width: 100%
    &::after
      display: none
  .gray-background
    display: flex
    flex-direction: row
    .time-column, .day-column, .rest-column
      display: flex
      flex-direction: column
      font-size: 12px
      line-height: 1.3

      // flex-grow: 0
      // flex-basis: 128px
      .day
        height: 50px
      .day.empty
        height: 52px
      .meal.time
        display: flex
        align-items: center
        justify-content: center
        height: 90px
      .meal
        border-bottom: 2px solid rgba(0, 0, 0, 0.1)
      .description
        height: 35px
        border-bottom: 2px solid rgba(0, 0, 0, 0.1)
      .workout
        height: 35px
      .description, .workout
        display: flex
        align-items: center
        justify-content: center

    /* the first column */

    .time-column
      width: 85px
      position: absolute
      left: 0px
      z-index: 8
      top: 0px
      @media screen and (min-width: 1000px)
        position: relative
      .meal.last
        border-bottom: 0px
        height: 92px
      .workout
        span
          padding-right: 12px
          position: relative
          &::after
            display: block
            content: ""
            position: absolute
            top: 6px
            right: 0px
            width: 0
            height: 0
            border-style: solid
            border-width: 2.5px 0 2.5px 5px
            border-color: transparent transparent transparent #828282

    /* columns with food */

    .scroll-container
      border-top-right-radius: 5px
      width: 256px
      overflow-x: scroll
      overflow-y: hidden
      display: flex
      flex-direction: row

      @media screen and (min-width: 500px)
        width: 384px
      @media screen and (min-width: 650px)
        width: 512px
      @media screen and (min-width: 800px)
        width: 636px
      @media screen and (min-width: 950px)
        width: 764px
      @media screen and (min-width: 1000px)
        width: auto
        overflow: auto

      .day-column
        width: 215px

        position: relative
        z-index: 5
        @media screen and (min-width: 360px)
          width: 128px
        .day
          width: 213px


          border-bottom: 2px solid rgba(0, 0, 0, 0.1)
          border-right: 2px solid rgba(0, 0, 0, 0.1)
          background-color: #fff
          color: $green
          font-size: 20px
          font-weight: 600
          text-transform: uppercase
          display: flex
          align-items: center
          justify-content: center
          @media screen and (min-width: 360px)
            width: 126px
        .meal
          height: 74px
          padding: 8px 10px
          border-right: 2px solid rgba(0, 0, 0, 0.1)
          background-color: #fff
          align-items: flex-start
          justify-content: flex-start
          position: relative
          z-index: 3
          .icon
            background-image: url(../img/tick.png)
            height: 14px
            width: 14px
            background-size: cover
            background-repeat: no-repeat
            float: right
            margin-right: -3px
          img.product
            position: absolute
            bottom: 0px
            left: 52px
            z-index: 1
            -webkit-filter: grayscale(70%); /* Safari */
            filter: grayscale(70%)
            opacity: 0.99
            @media screen and (min-width: 360px)
              left: 13px
        .meal.last
          height: 76px
          border-bottom: 0px
        .description
          text-transform: uppercase
          font-weight: 600
          border-right: 2px solid rgba(0, 0, 0, 0.1)
        .workout
          border-right: 2px solid rgba(0, 0, 0, 0.1)
          img
            height: 14px
            width: auto
        .workout.done
          position: relative
          img
            opacity: 1
          &::after
            display: block
            content: ""
            position: absolute
            top: 14px
            right: 34px
            background-image: url(../img/check.png)
            height: 8px
            width: 10px
            background-size: cover
            background-repeat: no-repeat

            /* active column */

      .day-column.active
        @media screen and (min-width: 800px)
          border: 2px solid $orange
          margin-left: -2px
          width: 124px
        .day
          width: 215px
          background-color: $orange
          color: #fff
          border-bottom-color: transparent
          margin-left: -2px
          @media screen and (min-width: 360px)
            width: 130px
          @media screen and (min-width: 800px)
            height: 48px
            color: $orange
            background-color: #fff
            border-bottom-color: rgba(0, 0, 0, 0.1)
            width: 124px
            margin-left: 0px
        .meal
          border-bottom: 2px solid $orange
          color: rgba(0, 0, 0, 0.95)
          @media screen and (min-width: 800px)
            border-bottom: 2px solid rgba(0, 0, 0, 0.1)
            border-right: 0px
          img.product
            -webkit-filter: grayscale(0%)
            filter: grayscale(0%)
        .meal.last
          border-bottom: none
        .day, .description, .workout
          border-right: 0px

      /* the last column */

      .rest-column
        width: 215px
        content: ""
        @media screen and (min-width: 360px)
          width: 126px
        .day
          width: 215px
          border-bottom: 2px solid rgba(0, 0, 0, 0.1)
          background-color: #fff
          color: $green
          font-size: 20px
          font-weight: 600
          text-transform: uppercase
          display: flex
          align-items: center
          justify-content: center
          @media screen and (min-width: 360px)
            width: 126px
        .info
          width: 215px
          background-color: #fff
          height: 460px
          position: relative
          @media screen and (min-width: 360px)
            width: 126px
          span
            display: block
            width: 300px
            -ms-transform: rotate(-90deg)
            -webkit-transform: rotate(-90deg)
            transform: rotate(-90deg)
            -ms-transform-origin: 0% 50%
            -webkit-transform-origin: 0% 50%
            transform-origin: 0% 50%
            text-transform: uppercase
            font-size: 33px
            position: absolute
            bottom: 108px
            left: 50%
          img
            position: absolute
            bottom: 72px
            left: calc(50% - 16px)
        .print
          display: flex
          align-items: center
          justify-content: center
          height: 74px
          button
            font-size: 20px
            color: rgba(0, 0, 0, 0.4)
            position: relative
            border: 0px
            padding-left: 47px
            font-weight: 600
            &:hover
              animation: shake 300ms ease-in-out
              animation-iteration-count: 2
            &:active
              transform: scale(0.9, 0.9)
              transition-duration: 0.1s
            &::before
              display: block
              content: ""
              position: absolute
              top: 1px
              left: 10px
              background-image: url(../img/print.png)
              height: 30px
              width: 25px
              background-size: cover
              background-repeat: no-repeat

@keyframes shake
  0%
    transform: scale(1.2, 1.2)
    transform: rotate(-10deg)
  25%
    transform: rotate(10deg)
  50%
    transform: rotate(-10deg)
  75%
    transform: rotate(10deg)
  100%
    left: 0
    transform: rotate(0deg)
