.TOP
  margin: 0px
  @media screen and (min-width: 800px)
    margin-top: 34px
  .row
    justify-content: space-between
    .col_1
      margin: 0px
      @media screen and (min-width: 800px)
        margin: 0px
    .col_2
      margin-top: 90px
      @media screen and (min-width: 800px)
        margin: 0px
    .col_3
      margin-top: -130px
      margin-bottom: 80px
      @media screen and (min-width: 800px)
        margin: 0px
    .column
      min-height: 50px
      @media screen and (min-width: 800px)
        min-height: 0px
      p
        color: #bdbdbd
        text-transform: uppercase
        font-size: 9px
        margin: 0 0 14px

      ul.progress
        display: flex
        flex-direction: row
        li
          display: flex
          flex-direction: column
          padding-right: 10px
          position: relative
          .bullet
            display: block
            content: ""
            border: 2px solid #dbdbdb
            background-color: #dbdbdb
            border-radius: 50%
            width: 6px
            height: 6px
            position: relative
            &::after
              position: absolute
              display: block
              content: ""
              height: 2px
              width: 10px
              right: -12px
              top: 2px
              background-color: #dbdbdb
          .bullet.done
            border-color: $green
            background-color: $green
            &::after
              background-color: $green
          .bullet.now
            background-color: #fff
          .bullet.to-go
          .digit
            position: absolute
            top: 16px
            left: 0px
            font-size: 9px
            width: 10px
            text-align: center
            font-weight: 500
        li:last-of-type
          padding-right: 0px
          .bullet
            &::after
              display: none

      ul.options
        li
          display: inline-block
          button
            border: 0px
            background-image: url(../img/spritesheet1.png)
            background-repeat: no-repeat
            background-position: center
            background-size: 128px 96px
            color: transparent
            width: 32px
            height: 32px
            margin-right: 8px
            position: relative
            &::after
              display: block
              content: ""
              position: absolute
              transform: rotate(-45deg)
              width: 40px
              height: 2px
              background-color: #d3d3d3
              border-top: 2px solid #f9f9f9
              top: 14px
              left: -3px
              opacity: 0
          .blocked
            &::after
              display: block
              opacity: 1
              transition: opacity 0.15s ease-in-out

          .sprite-001.active
            background-position: -64px -64px
          .sprite-001.blocked
              background-position: 0px -32px
          .sprite-002.active
            background-position: -64px -32px
          .sprite-002.blocked
            background-position: 0px 0px
          .sprite-003.active
            background-position: -32px -64px
          .sprite-003.blocked
            background-position: -64px 1px
          .sprite-004.active
            background-position: -32px -32px
          .sprite-004.blocked
            background-position: -95px 0px
          .sprite-005.active
              background-position: 0px -64px
          .sprite-005.blocked
            background-position: -32px 0px


        li:last-of-type
          button
            margin-right: 0px

      .slider
        display: flex
        align-items: center
        justify-content: space-around
        margin-top: 2px
        .text
          width: 248px
          height: 44px
          color: $orange
          margin: 0px
          line-height: 0.9
          ul
            position: relative
            li
              width: 100%
              position: absolute
              top: 0px
              left: 0
              opacity: 0
              transition: opacity 0.5s ease-in, font-size 0.6s linear
              text-align: center
              font-size: 30px
            li.active
              font-size: 47px
              opacity: 1
              transition: opacity 0.5s ease-in, font-size 0.6s linear
        button
          position: relative
          color: transparent
          height: 44px
          width: 26px
          font-size: 1px
          padding: 0px
          border-color: #c0c0c0
          box-shadow: none
          transition: all 1s linear
          &::after
            display: block
            content: ""
            position: absolute
            right: 4px
            top: 13px
            background-image: url(../img/caret-medium.png)
            background-repeat: no-repeat
            height: 16px
            width: 16px
            background-size: cover
        button:hover
          background-color: rgba(255, 255, 255, 1)
          transition: background-color .2s cubic-bezier(0.39, 0.58, 0.57, 1)
        button:active
          background-color: transparent
          -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.15)
          -moz-box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.15)
          box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.15)
          transition: background-color .5s ease-out
        button:disabled
          opacity: 0.5
          cursor: auto
          transition-duration: 0.2s
        button:first-of-type
          &::after
            transform: rotate(-90deg)

        button:last-of-type
          &::after
            transform: rotate(90deg)
