/* --- general menu styles --- */
.MAIN_MENU
  left: calc(-100vw + 20px)
  position: fixed
  top: 0px
  display: flex
  height: 100vh
  width: calc(100vw - 20px)
  background-color: #fff
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5)
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5)
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5)
  align-items: center
  z-index: 10
  transition: left 0.8s linear, box-shadow 1s ease-out

  @media screen and (min-width: 800px)
    height: auto
    background-color: #fff
    width: 100%
    border-right: 0px
    position: relative
    left: 0vw
    display: block
    transition: none
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3)
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3)
  .container
    @media screen and (min-width: 800px)
      display: flex
      justify-content: space-between
      align-items: center

    /* menu toggling buttons styles */
    .MenuToggle
      content: ""
      display: block
      height: 40px
      width: 40px
      position: absolute
      top: 0px
      right: -70px
      background-color: transparent
      border: none
      margin: 16px 10px
      transition: right 0.3s linear
      transition-delay: 0.7s
      cursor: pointer
      @media screen and (min-width: 800px)
        display: none
      &:before, &:after
        content: ""
        display: block
        position: absolute
        left: 8px
        width: 24px
        height: 2px
        border-radius: 1px
        background-color: white
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
      &:before
        top: 16px
      &:after
        bottom: 16px
      &:active, &:hover, &:focus
        outline: none

    /* primary menu styles */
    .menu
      width: 100%
      float: none
      position: absolute
      top: calc(66.6% - 126px)
      left: 0px
      z-index: 12
      @media screen and (min-width: 800px)
        position: relative
        top: 0px
        left: 0px
        float: left
        display: block
        padding-left: 15px
        border-left: 1px solid #ccc
        margin-left: 118px
        width: auto
      li
        display: block
        width: 100%
        @media screen and (min-width: 800px)
          display: inline-block
          width: auto
        a
          text-align: center
          font-size: 16px
          text-transform: uppercase
          display: block
          font-weight: 600
          padding: 34px 15px
          color: #7c7c7c
          position: relative
          line-height: 1
          @media screen and (min-width: 800px)
            font-size: 12px
          &::after
            display: none
            content: ""
            position: absolute
            width: 0px
            height: 2px
            background-color: #ffc79a
            bottom: 22px
            left: calc(50% - 12.5px)
            transition: width 0.5s linear
          &:hover, &:active, &:focus
            &::after
              display: block
              width: 25px
              transition: width 0.5s linear
      li.active
        a
          color: #ff801a
          &::after
            display: block
            width: 25px

    /* user img and dropdown styles */
    .user
      display: flex
      position: absolute
      top: 0px
      left: 0px
      height: 33.3vh
      width: 100%
      flex-direction: column
      align-items: flex-start
      justify-content: flex-end
      padding-bottom: 4px
      background-image: url(../img/waves.png)
      background-color: #fbfbfb
      @media screen and (min-width: 800px)
        float: right
        position: relative
        top: 0px
        left: 0px
        height: auto
        width: auto
        flex-direction: row
        justify-content: center
        padding-bottom: 0px
        background-image: none
        background-color: transparent
        align-items: center
      a.profile
        margin: 0 0 16px 16px
        display: block
        @media screen and (min-width: 800px)
          margin: 0px
        .img
          height: 64px
          width: 64px
          border-radius: 50%
          -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3)
          -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3)
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3)
          @media screen and (min-width: 800px)
            height: 32px
            width: 32px
          img
            width: 100%
            height: 100%
            border-radius: 50%
      .dropdown
        margin-left: 8px
        position: relative
        button.toggle
          font-size: 16px
          border: 0px
          color: rgba(0, 0, 0, 0.5)
          letter-spacing: 0.03em
          font-weight: 600
          position: relative
          padding-right: 30px
          @media screen and (min-width: 800px)
            padding-right: 18px
            font-size: 13px
          &::after
            right: 0px
            top: 8px
            height: 12px
            width: 12px
            display: block
            content: ""
            position: absolute
            background-image: url(../img/arrow.png)
            background-repeat: no-repeat
            transform: rotate(90deg)
            background-size: contain
            background-position: center
            transition: transform 0.1s ease-in
            @media screen and (min-width: 800px)
              height: 8px
              width: 8px
              right: 0px
              top: 9px
        .dropdownMenu
          display: none
          position: absolute
          background-color: white
          width: 123px
          border-top: 1px solid #ccc
          top: 52px
          padding: 0px
          right: 0px
          text-align: center
          z-index: 6
          -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3)
          -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3)
          box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3)
          border-bottom-right-radius: 2px
          border-bottom-left-radius: 2px
          @media screen and (min-width: 800px)
            padding: 0 8px

          li
            a
              display: block
              color: rgba(0, 0, 0, 0.5)
              letter-spacing: 0.03em
              font-weight: 600
              font-size: 13px
              padding: 12px 0
              border-bottom: 1px solid rgba(0, 0, 0, 0.1)
              //color: rgba(0, 0, 0, 0.5)
              //font-size: 12px
              //text-transform: uppercase
          li:last-of-type
            a
              border-bottom: 0px
      .dropdown.active
        button.toggle
          &::after
            transform: rotate(-90deg)
        .dropdownMenu
          display: block

/* opened menu on mobile styles */
.MAIN_MENU.open
  left: 0vw
  transition: left 1s linear
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5)
  -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5)
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5)

  .container
    width: 100%
    .MenuToggle
      right: 0px
      transition: right 0.3s linear
      transition-delay: 0s
      z-index: 11
    .user
      // &::after
      //   background-color: rgba(0, 0, 0, 0.5)
      //   transition: background-color 1s ease-in
      .dropdown.active
        position: static
        ul.dropdownMenu
          width: 100%
          top: calc(33.3vh + 4px)
          border-top: 0px
          height: 66.6vh
          z-index: 13
