$green: #b2c200
$orange: #ff801a

//@import 'main_menu'
@import 'container_top'
@import 'container_table'
@import 'container_bottom_columns'
@import 'primary_menu'

@font-face
    font-family: 'HelvNeueLTStd'
    src: url("HelveticaNeueLTStd-Roman.otf") format("opentype")
@font-face
    font-family: 'HelvNeueLTStd Lt'
    src: url("HelveticaNeueLTStd-Lt.otf") format("opentype")
    font-weight: 400
@font-face
    font-family: 'HelvNeueLTStd'
    src: url("HelveticaNeueLTStd-Md.otf") format("opentype")
    font-weight: 500
@font-face
    font-family: 'HelvNeueLTStd Bd'
    src: url("HelveticaNeueLTStd-Bd.otf") format("opentype")
    font-weight: 600

// *
//   outline: 1px solid red
html, body
  margin: 0px
  padding: 0px
  font-family: 'HelvNeueLTStd Roman', sans-serif
  color: rgba(0, 0, 0, 0.5)
  background-color: #f9f9f9
.PAGE_WRAP
  position: relative
ul
  list-style-type: none
  padding: 0px
  margin: 0px
  li
    a, a:hover, a:focus, a:active
      text-decoration: none
button
  padding: 5px 10px
  border-radius: 5px
  background-color: transparent
  border: 1px solid #c0c0c0
  cursor: pointer
  font-size: 18px
  line-height: 1
  color: #a5a5a5
  &:active, &:focus
    outline: none
    background-color: transparent
.container
  max-width: 100%
  margin: 0 auto
  padding: 0 10px
  @media screen and (min-width: 1000px)
    width: 977px
    padding: 0px
  .row
    display: block
    @media screen and (min-width: 800px)
      display: flex
    .column
      max-width: 100%
      @media screen and (min-width: 800px)
        width: auto

.CONTENT.container
  padding-top: 68px
  @media screen and (min-width: 800px)
    padding-top: 0px
