.TOP {
  margin: 0px; }
  @media screen and (min-width: 800px) {
    .TOP {
      margin-top: 34px; } }
  .TOP .row {
    justify-content: space-between; }
    .TOP .row .col_1 {
      margin: 0px; }
      @media screen and (min-width: 800px) {
        .TOP .row .col_1 {
          margin: 0px; } }
    .TOP .row .col_2 {
      margin-top: 90px; }
      @media screen and (min-width: 800px) {
        .TOP .row .col_2 {
          margin: 0px; } }
    .TOP .row .col_3 {
      margin-top: -130px;
      margin-bottom: 80px; }
      @media screen and (min-width: 800px) {
        .TOP .row .col_3 {
          margin: 0px; } }
    .TOP .row .column {
      min-height: 50px; }
      @media screen and (min-width: 800px) {
        .TOP .row .column {
          min-height: 0px; } }
      .TOP .row .column p {
        color: #bdbdbd;
        text-transform: uppercase;
        font-size: 9px;
        margin: 0 0 14px; }
      .TOP .row .column ul.progress {
        display: flex;
        flex-direction: row; }
        .TOP .row .column ul.progress li {
          display: flex;
          flex-direction: column;
          padding-right: 10px;
          position: relative; }
          .TOP .row .column ul.progress li .bullet {
            display: block;
            content: "";
            border: 2px solid #dbdbdb;
            background-color: #dbdbdb;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            position: relative; }
            .TOP .row .column ul.progress li .bullet::after {
              position: absolute;
              display: block;
              content: "";
              height: 2px;
              width: 10px;
              right: -12px;
              top: 2px;
              background-color: #dbdbdb; }
          .TOP .row .column ul.progress li .bullet.done {
            border-color: #b2c200;
            background-color: #b2c200; }
            .TOP .row .column ul.progress li .bullet.done::after {
              background-color: #b2c200; }
          .TOP .row .column ul.progress li .bullet.now {
            background-color: #fff; }
          .TOP .row .column ul.progress li .digit {
            position: absolute;
            top: 16px;
            left: 0px;
            font-size: 9px;
            width: 10px;
            text-align: center;
            font-weight: 500; }
        .TOP .row .column ul.progress li:last-of-type {
          padding-right: 0px; }
          .TOP .row .column ul.progress li:last-of-type .bullet::after {
            display: none; }
      .TOP .row .column ul.options li {
        display: inline-block; }
        .TOP .row .column ul.options li button {
          border: 0px;
          background-image: url(../img/spritesheet1.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 128px 96px;
          color: transparent;
          width: 32px;
          height: 32px;
          margin-right: 8px;
          position: relative; }
          .TOP .row .column ul.options li button::after {
            display: block;
            content: "";
            position: absolute;
            transform: rotate(-45deg);
            width: 40px;
            height: 2px;
            background-color: #d3d3d3;
            border-top: 2px solid #f9f9f9;
            top: 14px;
            left: -3px;
            opacity: 0; }
        .TOP .row .column ul.options li .blocked::after {
          display: block;
          opacity: 1;
          transition: opacity 0.15s ease-in-out; }
        .TOP .row .column ul.options li .sprite-001.active {
          background-position: -64px -64px; }
        .TOP .row .column ul.options li .sprite-001.blocked {
          background-position: 0px -32px; }
        .TOP .row .column ul.options li .sprite-002.active {
          background-position: -64px -32px; }
        .TOP .row .column ul.options li .sprite-002.blocked {
          background-position: 0px 0px; }
        .TOP .row .column ul.options li .sprite-003.active {
          background-position: -32px -64px; }
        .TOP .row .column ul.options li .sprite-003.blocked {
          background-position: -64px 1px; }
        .TOP .row .column ul.options li .sprite-004.active {
          background-position: -32px -32px; }
        .TOP .row .column ul.options li .sprite-004.blocked {
          background-position: -95px 0px; }
        .TOP .row .column ul.options li .sprite-005.active {
          background-position: 0px -64px; }
        .TOP .row .column ul.options li .sprite-005.blocked {
          background-position: -32px 0px; }
      .TOP .row .column ul.options li:last-of-type button {
        margin-right: 0px; }
      .TOP .row .column .slider {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2px; }
        .TOP .row .column .slider .text {
          width: 248px;
          height: 44px;
          color: #ff801a;
          margin: 0px;
          line-height: 0.9; }
          .TOP .row .column .slider .text ul {
            position: relative; }
            .TOP .row .column .slider .text ul li {
              width: 100%;
              position: absolute;
              top: 0px;
              left: 0;
              opacity: 0;
              transition: opacity 0.5s ease-in, font-size 0.6s linear;
              text-align: center;
              font-size: 30px; }
            .TOP .row .column .slider .text ul li.active {
              font-size: 47px;
              opacity: 1;
              transition: opacity 0.5s ease-in, font-size 0.6s linear; }
        .TOP .row .column .slider button {
          position: relative;
          color: transparent;
          height: 44px;
          width: 26px;
          font-size: 1px;
          padding: 0px;
          border-color: #c0c0c0;
          box-shadow: none;
          transition: all 1s linear; }
          .TOP .row .column .slider button::after {
            display: block;
            content: "";
            position: absolute;
            right: 4px;
            top: 13px;
            background-image: url(../img/caret-medium.png);
            background-repeat: no-repeat;
            height: 16px;
            width: 16px;
            background-size: cover; }
        .TOP .row .column .slider button:hover {
          background-color: white;
          transition: background-color 0.2s cubic-bezier(0.39, 0.58, 0.57, 1); }
        .TOP .row .column .slider button:active {
          background-color: transparent;
          -webkit-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
          transition: background-color .5s ease-out; }
        .TOP .row .column .slider button:disabled {
          opacity: 0.5;
          cursor: auto;
          transition-duration: 0.2s; }
        .TOP .row .column .slider button:first-of-type::after {
          transform: rotate(-90deg); }
        .TOP .row .column .slider button:last-of-type::after {
          transform: rotate(90deg); }

/* some general table styles */
.TABLE {
  margin: 30px auto 0;
  background-image: url(../img/waves.png);
  background-color: #e9e9e9;
  border-radius: 5px;
  padding-left: 85px;
  position: relative;
  width: 213px; }
  @media screen and (min-width: 360px) {
    .TABLE {
      width: 254px; } }
  @media screen and (min-width: 500px) {
    .TABLE {
      width: 382px; } }
  @media screen and (min-width: 650px) {
    .TABLE {
      width: 510px; } }
  @media screen and (min-width: 800px) {
    .TABLE {
      width: 636px; } }
  @media screen and (min-width: 950px) {
    .TABLE {
      width: 764px; } }
  @media screen and (min-width: 1000px) {
    .TABLE {
      width: auto; } }
  .TABLE::after {
    position: absolute;
    content: "";
    display: none;
    z-index: 10;
    width: 100%;
    height: 20px;
    bottom: -5px;
    left: 0px;
    background-color: #f9f9f9; }
  @media screen and (min-width: 1000px) {
    .TABLE {
      padding-left: 0px;
      width: 100%; }
      .TABLE::after {
        display: none; } }
  .TABLE .gray-background {
    display: flex;
    flex-direction: row;
    /* the first column */
    /* columns with food */ }
    .TABLE .gray-background .time-column, .TABLE .gray-background .day-column, .TABLE .gray-background .rest-column {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 1.3; }
      .TABLE .gray-background .time-column .day, .TABLE .gray-background .day-column .day, .TABLE .gray-background .rest-column .day {
        height: 50px; }
      .TABLE .gray-background .time-column .day.empty, .TABLE .gray-background .day-column .day.empty, .TABLE .gray-background .rest-column .day.empty {
        height: 52px; }
      .TABLE .gray-background .time-column .meal.time, .TABLE .gray-background .day-column .meal.time, .TABLE .gray-background .rest-column .meal.time {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px; }
      .TABLE .gray-background .time-column .meal, .TABLE .gray-background .day-column .meal, .TABLE .gray-background .rest-column .meal {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
      .TABLE .gray-background .time-column .description, .TABLE .gray-background .day-column .description, .TABLE .gray-background .rest-column .description {
        height: 35px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
      .TABLE .gray-background .time-column .workout, .TABLE .gray-background .day-column .workout, .TABLE .gray-background .rest-column .workout {
        height: 35px; }
      .TABLE .gray-background .time-column .description, .TABLE .gray-background .time-column .workout, .TABLE .gray-background .day-column .description, .TABLE .gray-background .day-column .workout, .TABLE .gray-background .rest-column .description, .TABLE .gray-background .rest-column .workout {
        display: flex;
        align-items: center;
        justify-content: center; }
    .TABLE .gray-background .time-column {
      width: 85px;
      position: absolute;
      left: 0px;
      z-index: 8;
      top: 0px; }
      @media screen and (min-width: 1000px) {
        .TABLE .gray-background .time-column {
          position: relative; } }
      .TABLE .gray-background .time-column .meal.last {
        border-bottom: 0px;
        height: 92px; }
      .TABLE .gray-background .time-column .workout span {
        padding-right: 12px;
        position: relative; }
        .TABLE .gray-background .time-column .workout span::after {
          display: block;
          content: "";
          position: absolute;
          top: 6px;
          right: 0px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 2.5px 0 2.5px 5px;
          border-color: transparent transparent transparent #828282; }
    .TABLE .gray-background .scroll-container {
      border-top-right-radius: 5px;
      width: 256px;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      flex-direction: row;
      /* the last column */ }
      @media screen and (min-width: 500px) {
        .TABLE .gray-background .scroll-container {
          width: 384px; } }
      @media screen and (min-width: 650px) {
        .TABLE .gray-background .scroll-container {
          width: 512px; } }
      @media screen and (min-width: 800px) {
        .TABLE .gray-background .scroll-container {
          width: 636px; } }
      @media screen and (min-width: 950px) {
        .TABLE .gray-background .scroll-container {
          width: 764px; } }
      @media screen and (min-width: 1000px) {
        .TABLE .gray-background .scroll-container {
          width: auto;
          overflow: auto; } }
      .TABLE .gray-background .scroll-container .day-column {
        width: 215px;
        position: relative;
        z-index: 5; }
        @media screen and (min-width: 360px) {
          .TABLE .gray-background .scroll-container .day-column {
            width: 128px; } }
        .TABLE .gray-background .scroll-container .day-column .day {
          width: 213px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          border-right: 2px solid rgba(0, 0, 0, 0.1);
          background-color: #fff;
          color: #b2c200;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media screen and (min-width: 360px) {
            .TABLE .gray-background .scroll-container .day-column .day {
              width: 126px; } }
        .TABLE .gray-background .scroll-container .day-column .meal {
          height: 74px;
          padding: 8px 10px;
          border-right: 2px solid rgba(0, 0, 0, 0.1);
          background-color: #fff;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          z-index: 3; }
          .TABLE .gray-background .scroll-container .day-column .meal .icon {
            background-image: url(../img/tick.png);
            height: 14px;
            width: 14px;
            background-size: cover;
            background-repeat: no-repeat;
            float: right;
            margin-right: -3px; }
          .TABLE .gray-background .scroll-container .day-column .meal img.product {
            position: absolute;
            bottom: 0px;
            left: 52px;
            z-index: 1;
            -webkit-filter: grayscale(70%);
            /* Safari */
            filter: grayscale(70%);
            opacity: 0.99; }
            @media screen and (min-width: 360px) {
              .TABLE .gray-background .scroll-container .day-column .meal img.product {
                left: 13px; } }
        .TABLE .gray-background .scroll-container .day-column .meal.last {
          height: 76px;
          border-bottom: 0px; }
        .TABLE .gray-background .scroll-container .day-column .description {
          text-transform: uppercase;
          font-weight: 600;
          border-right: 2px solid rgba(0, 0, 0, 0.1); }
        .TABLE .gray-background .scroll-container .day-column .workout {
          border-right: 2px solid rgba(0, 0, 0, 0.1); }
          .TABLE .gray-background .scroll-container .day-column .workout img {
            height: 14px;
            width: auto; }
        .TABLE .gray-background .scroll-container .day-column .workout.done {
          position: relative; }
          .TABLE .gray-background .scroll-container .day-column .workout.done img {
            opacity: 1; }
          .TABLE .gray-background .scroll-container .day-column .workout.done::after {
            display: block;
            content: "";
            position: absolute;
            top: 14px;
            right: 34px;
            background-image: url(../img/check.png);
            height: 8px;
            width: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            /* active column */ }
      @media screen and (min-width: 800px) {
        .TABLE .gray-background .scroll-container .day-column.active {
          border: 2px solid #ff801a;
          margin-left: -2px;
          width: 124px; } }
      .TABLE .gray-background .scroll-container .day-column.active .day {
        width: 215px;
        background-color: #ff801a;
        color: #fff;
        border-bottom-color: transparent;
        margin-left: -2px; }
        @media screen and (min-width: 360px) {
          .TABLE .gray-background .scroll-container .day-column.active .day {
            width: 130px; } }
        @media screen and (min-width: 800px) {
          .TABLE .gray-background .scroll-container .day-column.active .day {
            height: 48px;
            color: #ff801a;
            background-color: #fff;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            width: 124px;
            margin-left: 0px; } }
      .TABLE .gray-background .scroll-container .day-column.active .meal {
        border-bottom: 2px solid #ff801a;
        color: rgba(0, 0, 0, 0.95); }
        @media screen and (min-width: 800px) {
          .TABLE .gray-background .scroll-container .day-column.active .meal {
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            border-right: 0px; } }
        .TABLE .gray-background .scroll-container .day-column.active .meal img.product {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }
      .TABLE .gray-background .scroll-container .day-column.active .meal.last {
        border-bottom: none; }
      .TABLE .gray-background .scroll-container .day-column.active .day, .TABLE .gray-background .scroll-container .day-column.active .description, .TABLE .gray-background .scroll-container .day-column.active .workout {
        border-right: 0px; }
      .TABLE .gray-background .scroll-container .rest-column {
        width: 215px;
        content: ""; }
        @media screen and (min-width: 360px) {
          .TABLE .gray-background .scroll-container .rest-column {
            width: 126px; } }
        .TABLE .gray-background .scroll-container .rest-column .day {
          width: 215px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          background-color: #fff;
          color: #b2c200;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media screen and (min-width: 360px) {
            .TABLE .gray-background .scroll-container .rest-column .day {
              width: 126px; } }
        .TABLE .gray-background .scroll-container .rest-column .info {
          width: 215px;
          background-color: #fff;
          height: 460px;
          position: relative; }
          @media screen and (min-width: 360px) {
            .TABLE .gray-background .scroll-container .rest-column .info {
              width: 126px; } }
          .TABLE .gray-background .scroll-container .rest-column .info span {
            display: block;
            width: 300px;
            -ms-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -ms-transform-origin: 0% 50%;
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            text-transform: uppercase;
            font-size: 33px;
            position: absolute;
            bottom: 108px;
            left: 50%; }
          .TABLE .gray-background .scroll-container .rest-column .info img {
            position: absolute;
            bottom: 72px;
            left: calc(50% - 16px); }
        .TABLE .gray-background .scroll-container .rest-column .print {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 74px; }
          .TABLE .gray-background .scroll-container .rest-column .print button {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.4);
            position: relative;
            border: 0px;
            padding-left: 47px;
            font-weight: 600; }
            .TABLE .gray-background .scroll-container .rest-column .print button:hover {
              animation: shake 300ms ease-in-out;
              animation-iteration-count: 2; }
            .TABLE .gray-background .scroll-container .rest-column .print button:active {
              transform: scale(0.9, 0.9);
              transition-duration: 0.1s; }
            .TABLE .gray-background .scroll-container .rest-column .print button::before {
              display: block;
              content: "";
              position: absolute;
              top: 1px;
              left: 10px;
              background-image: url(../img/print.png);
              height: 30px;
              width: 25px;
              background-size: cover;
              background-repeat: no-repeat; }

@keyframes shake {
  0% {
    transform: scale(1.2, 1.2);
    transform: rotate(-10deg); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg); }
  75% {
    transform: rotate(10deg); }
  100% {
    left: 0;
    transform: rotate(0deg); } }

.BOTTOM {
  margin: 45px 0; }
  .BOTTOM .col_1, .BOTTOM .col_2, .BOTTOM .col_3 {
    padding: 0px; }
  @media screen and (min-width: 800px) {
    .BOTTOM .col_1 {
      padding-right: 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .BOTTOM .col_2 {
      padding: 0 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .BOTTOM .col_3 {
      padding-left: 20px; } }
  @media screen and (min-width: 1000px) {
    .BOTTOM .col_1 {
      padding-right: 50px; }
    .BOTTOM .col_2 {
      padding: 0 50px; }
    .BOTTOM .col_3 {
      padding-left: 50px; } }
  .BOTTOM .column {
    margin-bottom: 30px; }
    @media screen and (min-width: 800px) {
      .BOTTOM .column {
        flex-grow: 0;
        flex-basis: 33.3%; } }
    .BOTTOM .column h2 {
      margin: 10px 0 20px;
      font-size: 26px;
      line-height: 1; }
    .BOTTOM .column p {
      font-size: 15px;
      margin: 10px 0 20px; }
    .BOTTOM .column button {
      padding-right: 28px;
      position: relative;
      overflow: hidden;
      z-index: 2; }
      .BOTTOM .column button::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(204, 204, 204, 0.5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
        z-index: 1; }
      .BOTTOM .column button::after {
        position: absolute;
        top: 9px;
        right: 10px;
        width: 10px;
        height: 10px;
        display: block;
        content: "";
        background-image: url(../img/arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
    .BOTTOM .column button:hover {
      background-color: white;
      transition: background-color 0.2s cubic-bezier(0.39, 0.58, 0.57, 1); }
    .BOTTOM .column button:focus:not(:active)::before {
      animation: ripple 1s ease-out; }
    .BOTTOM .column button.icon_1, .BOTTOM .column button.icon_2 {
      padding-left: 38px; }
      .BOTTOM .column button.icon_1 span, .BOTTOM .column button.icon_2 span {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 18px;
        height: 18px;
        display: block;
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
    .BOTTOM .column button.icon_2 span {
      background-image: url(../img/android.png); }
    .BOTTOM .column button.icon_1 span {
      background-image: url(../img/ios.png); }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 0.99; }
  20% {
    transform: scale(25, 25);
    opacity: 0.99; }
  100% {
    opacity: 0;
    transform: scale(40, 40); } }

/* --- general menu styles --- */
.MAIN_MENU {
  left: calc(-100vw + 20px);
  position: fixed;
  top: 0px;
  display: flex;
  height: 100vh;
  width: calc(100vw - 20px);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  align-items: center;
  z-index: 10;
  transition: left 0.8s linear, box-shadow 1s ease-out; }
  @media screen and (min-width: 800px) {
    .MAIN_MENU {
      height: auto;
      background-color: #fff;
      width: 100%;
      border-right: 0px;
      position: relative;
      left: 0vw;
      display: block;
      transition: none;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3); } }
  .MAIN_MENU .container {
    /* menu toggling buttons styles */
    /* primary menu styles */
    /* user img and dropdown styles */ }
    @media screen and (min-width: 800px) {
      .MAIN_MENU .container {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
    .MAIN_MENU .container .MenuToggle {
      content: "";
      display: block;
      height: 40px;
      width: 40px;
      position: absolute;
      top: 0px;
      right: -70px;
      background-color: transparent;
      border: none;
      margin: 16px 10px;
      transition: right 0.3s linear;
      transition-delay: 0.7s;
      cursor: pointer; }
      @media screen and (min-width: 800px) {
        .MAIN_MENU .container .MenuToggle {
          display: none; } }
      .MAIN_MENU .container .MenuToggle:before, .MAIN_MENU .container .MenuToggle:after {
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        width: 24px;
        height: 2px;
        border-radius: 1px;
        background-color: white;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); }
      .MAIN_MENU .container .MenuToggle:before {
        top: 16px; }
      .MAIN_MENU .container .MenuToggle:after {
        bottom: 16px; }
      .MAIN_MENU .container .MenuToggle:active, .MAIN_MENU .container .MenuToggle:hover, .MAIN_MENU .container .MenuToggle:focus {
        outline: none; }
    .MAIN_MENU .container .menu {
      width: 100%;
      float: none;
      position: absolute;
      top: calc(66.6% - 126px);
      left: 0px;
      z-index: 12; }
      @media screen and (min-width: 800px) {
        .MAIN_MENU .container .menu {
          position: relative;
          top: 0px;
          left: 0px;
          float: left;
          display: block;
          padding-left: 15px;
          border-left: 1px solid #ccc;
          margin-left: 118px;
          width: auto; } }
      .MAIN_MENU .container .menu li {
        display: block;
        width: 100%; }
        @media screen and (min-width: 800px) {
          .MAIN_MENU .container .menu li {
            display: inline-block;
            width: auto; } }
        .MAIN_MENU .container .menu li a {
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          display: block;
          font-weight: 600;
          padding: 34px 15px;
          color: #7c7c7c;
          position: relative;
          line-height: 1; }
          @media screen and (min-width: 800px) {
            .MAIN_MENU .container .menu li a {
              font-size: 12px; } }
          .MAIN_MENU .container .menu li a::after {
            display: none;
            content: "";
            position: absolute;
            width: 0px;
            height: 2px;
            background-color: #ffc79a;
            bottom: 22px;
            left: calc(50% - 12.5px);
            transition: width 0.5s linear; }
          .MAIN_MENU .container .menu li a:hover::after, .MAIN_MENU .container .menu li a:active::after, .MAIN_MENU .container .menu li a:focus::after {
            display: block;
            width: 25px;
            transition: width 0.5s linear; }
      .MAIN_MENU .container .menu li.active a {
        color: #ff801a; }
        .MAIN_MENU .container .menu li.active a::after {
          display: block;
          width: 25px; }
    .MAIN_MENU .container .user {
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 33.3vh;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding-bottom: 4px;
      background-image: url(../img/waves.png);
      background-color: #fbfbfb; }
      @media screen and (min-width: 800px) {
        .MAIN_MENU .container .user {
          float: right;
          position: relative;
          top: 0px;
          left: 0px;
          height: auto;
          width: auto;
          flex-direction: row;
          justify-content: center;
          padding-bottom: 0px;
          background-image: none;
          background-color: transparent;
          align-items: center; } }
      .MAIN_MENU .container .user a.profile {
        margin: 0 0 16px 16px;
        display: block; }
        @media screen and (min-width: 800px) {
          .MAIN_MENU .container .user a.profile {
            margin: 0px; } }
        .MAIN_MENU .container .user a.profile .img {
          height: 64px;
          width: 64px;
          border-radius: 50%;
          -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3); }
          @media screen and (min-width: 800px) {
            .MAIN_MENU .container .user a.profile .img {
              height: 32px;
              width: 32px; } }
          .MAIN_MENU .container .user a.profile .img img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
      .MAIN_MENU .container .user .dropdown {
        margin-left: 8px;
        position: relative; }
        .MAIN_MENU .container .user .dropdown button.toggle {
          font-size: 16px;
          border: 0px;
          color: rgba(0, 0, 0, 0.5);
          letter-spacing: 0.03em;
          font-weight: 600;
          position: relative;
          padding-right: 30px; }
          @media screen and (min-width: 800px) {
            .MAIN_MENU .container .user .dropdown button.toggle {
              padding-right: 18px;
              font-size: 13px; } }
          .MAIN_MENU .container .user .dropdown button.toggle::after {
            right: 0px;
            top: 8px;
            height: 12px;
            width: 12px;
            display: block;
            content: "";
            position: absolute;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            transform: rotate(90deg);
            background-size: contain;
            background-position: center;
            transition: transform 0.1s ease-in; }
            @media screen and (min-width: 800px) {
              .MAIN_MENU .container .user .dropdown button.toggle::after {
                height: 8px;
                width: 8px;
                right: 0px;
                top: 9px; } }
        .MAIN_MENU .container .user .dropdown .dropdownMenu {
          display: none;
          position: absolute;
          background-color: white;
          width: 123px;
          border-top: 1px solid #ccc;
          top: 52px;
          padding: 0px;
          right: 0px;
          text-align: center;
          z-index: 6;
          -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.3);
          border-bottom-right-radius: 2px;
          border-bottom-left-radius: 2px; }
          @media screen and (min-width: 800px) {
            .MAIN_MENU .container .user .dropdown .dropdownMenu {
              padding: 0 8px; } }
          .MAIN_MENU .container .user .dropdown .dropdownMenu li a {
            display: block;
            color: rgba(0, 0, 0, 0.5);
            letter-spacing: 0.03em;
            font-weight: 600;
            font-size: 13px;
            padding: 12px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
          .MAIN_MENU .container .user .dropdown .dropdownMenu li:last-of-type a {
            border-bottom: 0px; }
      .MAIN_MENU .container .user .dropdown.active button.toggle::after {
        transform: rotate(-90deg); }
      .MAIN_MENU .container .user .dropdown.active .dropdownMenu {
        display: block; }

/* opened menu on mobile styles */
.MAIN_MENU.open {
  left: 0vw;
  transition: left 1s linear;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .MAIN_MENU.open .container {
    width: 100%; }
    .MAIN_MENU.open .container .MenuToggle {
      right: 0px;
      transition: right 0.3s linear;
      transition-delay: 0s;
      z-index: 11; }
    .MAIN_MENU.open .container .user .dropdown.active {
      position: static; }
      .MAIN_MENU.open .container .user .dropdown.active ul.dropdownMenu {
        width: 100%;
        top: calc(33.3vh + 4px);
        border-top: 0px;
        height: 66.6vh;
        z-index: 13; }

@font-face {
  font-family: 'HelvNeueLTStd';
  src: url("HelveticaNeueLTStd-Roman.otf") format("opentype"); }

@font-face {
  font-family: 'HelvNeueLTStd Lt';
  src: url("HelveticaNeueLTStd-Lt.otf") format("opentype");
  font-weight: 400; }

@font-face {
  font-family: 'HelvNeueLTStd';
  src: url("HelveticaNeueLTStd-Md.otf") format("opentype");
  font-weight: 500; }

@font-face {
  font-family: 'HelvNeueLTStd Bd';
  src: url("HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-weight: 600; }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'HelvNeueLTStd Roman', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9; }

.PAGE_WRAP {
  position: relative; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul li a, ul li a:hover, ul li a:focus, ul li a:active {
    text-decoration: none; }

button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #c0c0c0;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  color: #a5a5a5; }
  button:active, button:focus {
    outline: none;
    background-color: transparent; }

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px; }
  @media screen and (min-width: 1000px) {
    .container {
      width: 977px;
      padding: 0px; } }
  .container .row {
    display: block; }
    @media screen and (min-width: 800px) {
      .container .row {
        display: flex; } }
    .container .row .column {
      max-width: 100%; }
      @media screen and (min-width: 800px) {
        .container .row .column {
          width: auto; } }

.CONTENT.container {
  padding-top: 68px; }
  @media screen and (min-width: 800px) {
    .CONTENT.container {
      padding-top: 0px; } }

/*# sourceMappingURL=style.css.map */