head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='shortcut icon' type='image/x-icon' href='img/favicon.ico')
  title GetResponse
  script( type="text/javascript" src='js/js.js')
  link(rel='stylesheet' type='text/css' href='css/style.css')
  link(rel='stylesheet' type='application/json' href='css/style.css.map')
