<!DOCTYPE html>
html
  include head.pug
  |
  |
  body
    .PAGE_WRAP
      .MAIN_MENU
        .container
          button(class='MenuToggle' id='menuButton')
          ul.menu
            li.active
              a(href='#') dashboard
            li
              a(href='#') recipes
            li
              a(href='#') challenge
          .user
            a(href='#' class='profile')
              .img
                img(src='img/user.jpg')
            .dropdown
              button(class='toggle' id='userMenuButton') Olivia Wilde
              ul.dropdownMenu
                li
                  a(href='#') Messages
                li
                  a(href='#') Settings
                li
                  a(href='#') Sign out
      .CONTENT.container
        .TOP
          .row
            .column.col_1
              p your 12 week progress
              ul.progress
                li
                  .bullet.done
                  .digit 1
                li
                  .bullet.done
                  .digit 2
                li
                  .bullet.done
                  .digit 3
                li
                  .bullet.done
                  .digit 4
                li
                  .bullet.now
                  .digit 5
                li
                  .bullet
                  .digit 6
                li
                  .bullet
                  .digit 7
                li
                  .bullet
                  .digit 8
                li
                  .bullet
                  .digit 9
                li
                  .bullet
                  .digit 10
                li
                  .bullet
                  .digit 11
                li
                  .bullet
                  .digit 12
            .column.col_2
              .slider
                button.prev prev
                .text 
                  ul
                    li Week 7
                    li Week 8
                    li Week 9
                    li Week 10
                button.next next
            .column.col_3
              p lorem ipsum dolor sit amet
              ul.options
                li
                  button.sprite-001.active bro
                li
                  button.sprite-002.active che
                li
                  button.sprite-003.blocked bee
                li
                  button.sprite-004.blocked fis
                li
                  button.sprite-005.blocked pou
        .TABLE
          .gray-background
            .time-column
              .day.empty
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time
                span 6:00 AM
              .meal.time.last
                span 6:00 AM
              .description.empty
              .workout.text
                span Workout
            .scroll-container
              .day-column
                .day
                  span day 64
                .meal
                  span.icon
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span.icon
                  span Ham and Swiss Roll Ups
                .meal
                  span.icon
                  span Turkey Melt      
                .meal
                  span.icon
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span.icon
                  span Turkey Melt
                .description
                  span low-carb
                .workout.done
                  img(src='img/weights-o.png')
              .day-column.active
                .day
                  span day 65
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Turkey Melt
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 66
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 67
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Turkey Melt
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 68
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bo&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .day-column
                .day
                  span day 69
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Ham and Swiss Roll Ups
                .meal
                  span Bod&bull;ē Shake
                  img(src='img/product.png' class='product')
                .meal
                  span Bod-e Burn with Mozarella and Tomato Slices
                .meal.last
                  span Turkey Melt
                .description
                  span low-carb
                .workout
                  img(src='img/weights-b.png')
              .rest-column
                .day
                  span day 70
                .info
                  span guilt-free day
                  img(src='img/happy2.png')
                .print
                  button Print
        .BOTTOM
          .row
            .column.col_1
              h2 Running out of products?
              p.
                Nunc ultrices a nunc et aliquam. Donec id lacus.
              button Buy now
            .column.col_2
              h2 Bod&bull;ē Trainer in your pocket
              p.
                Vestibulum vitae turpis a mi feugiat consequat.
              button.icon_1 iOS
                span
              button.icon_2 Android
                span
            .column.col_3
              h2 Frequently Asked Questions
              p.
                Donec eleifend ullamcorper tempor. Nunc ultrices a nunc et.
              button Read FAQs
    script.
      
